@font-face {
    font-family: "bwhaastext55";
    src: url("fonts/BWHaasText-55Roman.woff") format('woff');
}

@font-face {
    font-family: "bwhaastext56";
    src: url("fonts/BWHaasText-56Italic.woff") format('woff');
}

